fastapi
uvicorn
pydantic
pandas
numpy
transformers
torch
yfinance
scikit-learn
tensorflow-cpu
#pip install fastapi uvicorn numpy pandas yfinance --no-cache-dir
#pip install scikit-learn --no-cache-dir
#pip install tensorflow-cpu --no-cache-dir